/*--------------------------content-------------------------------*/
.content-holder{
    width: 70%;
    height: 320px;
    margin: 0 auto;
    margin-top:50px;    
}
.brief-title{
    font-size:30px;
    line-height: 30px;
    color: #337ab7;
}
.instruction{
    height: auto;
    text-align: center;
    font-size:18px;
}
.chanllenge{
	display: block;
    width: 180px;
    margin: 40px auto;
    background-color: #337ab7;
    border-radius: 12px;
    text-align: center;
    font-size:24px;
    color:white;
    height: 80px;
    line-height: 80px;
}
.instruction-holder a:hover{
    text-decoration: none;
    color: white;
}
/*----------------rank board----------------------------------*/
.rank-holder{
    width:760px;
    height:780px;
    margin:0 auto;
    box-sizing: border-box;
    padding:0 10px 0 10px;
}
.rank-title{
    width: 100%;
    height:240px;
    padding:60px 0 60px 0;
    box-sizing: border-box;
}
.line-title{
    width:100%;
    height:40px;
    display: table;
    padding:0 30px 0 30px;
    box-sizing: border-box;
    color:#0d6fb8;
}
.line-back{
    background: url(../img/common/1.png);
}
.line-item{
    display: table-cell;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    line-height: 40px;
}
.rank{
    /*background: green;*/
    width: 15%;
}
.player{
    /*background: yellow;*/
    width:35%;
}
.accuracy{
    /*background: red;*/
    width:25%;
}
.time{
    /*background: orange;*/
    width:25%;
}
.cut-line{
    width: 100%;
}
#top1{
    color:#fad74c;
}
#top2{
    color:#fba644;
}
#top3{
    color:#da963b;
}
#white{
    color:white;
}
/*----------------------------------------------------------------------*/
.foot{
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0;
    background: black;
    display: flex;
    color: #9f9f9f;
}
.foot-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}