/*--------------------------content-------------------------------*/

.brief {
    width: 100%;
    height: auto;
    line-height: 20px;
    font-size: 14px;
    color: black;
}

.brief-title {
    font-size: 20px;
    line-height: 40px;
    color: #337ab7;
}

.brief-content p {
    text-indent: 2em;
    text-align: justify;
}

.instruction {
    height: auto;
}

.square {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    float: left;
    background-image: url(../img/common/ice.png);
    background-size: 100% 100%;
}

.line-instruction {
    width: 100%;
    height: 150px;
    /*background: white;*/
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    align-items: center;
}

.stage {
    width: 18%;
    font-size: 20px;
    justify-content: flex-end;
    /*background: yellow;*/
}

.discription {
    width: 72%;
    font-size: 14px;
    justify-content: flex-start;
    /*background: green;*/
}


/*--------------------------timeline-------------------------------*/

.normal {
    color: #337ab7;
}

.current {
    color: white;
}

.normal.fir {
    background-image: url(../img/common/fir_normal.png);
}

.current.fir {
    background-image: url(../img/common/fir_mouse_on.png);
}

.normal.middle {
    background-image: url(../img/common/middle_normal.jpg);
}

.current.middle {
    background-image: url(../img/common/middle_mouse_on.jpg);
}

.normal.final {
    background-image: url(../img/common/final_normal.png);
}

.current.final {
    background-image: url(../img/common/final_mouse_on.png);
}
